.ClubContacts{
    padding: 0.5rem;
    height: 7rem;
    width: 12rem;
    margin: 1rem;
    margin-bottom: 0.5rem;
    box-shadow: 1.5px 1.5px 7px rgba(128, 134, 138, 0.5);
    border-radius: 1rem;
    color: white;
    background-color: transparent;
}

@media(max-width: 448px){
    .ClubContacts{
        height: 6rem;
    }
}

