.ClubEves{
    height: 15rem;
    width: 25rem;
    background-image: url("./assets/crisprbg.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0.5rem;
    margin: 2rem;
    margin-top: 0;
    box-shadow: 2px 3px 6px rgba(7, 103, 82, 0.3);
}

.ClubEves p{
    font-size: 1.1rem;
}

@media(min-width: 379px) and (max-width: 441px){
    .ClubEves{
        height: 17rem;
    }
}

@media(min-width: 352px) and (max-width: 379px){
    .ClubEves{
        height: 20rem;
    }
}

@media(max-width: 351px){
    .ClubEves{
        height: 22rem;
    }
}
